{% extends "base.html.twig" %}

{% block title %} SocialReaders | Amigos {% endblock %}


{% block body %}

<div class="container">

    <h1 class="mb-4 mt-5"> Amigos </h1>

    <div class="text-center  div-form-friends">
        <form method="post" action="{{path('app_serachamigos')}}" class="d-flex form-friends justfy-content-center" role="search" name="searchfriends">
            <div class="inp-bt d-flex">
            <input class="form-control search-amigos" name="friends" type="search" placeholder="Buscar Amigos" aria-label="Search">
            <button type="submit" class="btn btn-primary btn-buscar-friend"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        </form>
    </div>

    <div class="list-amigos mt-4 p-2 row gap-3 center ">

        {%if frindssearch%}

        Foram enocntrados {{frindssearch|length}}

        {%for resultado in frindssearch%}

        <div class="card friends mt-3 mb-3">
            <div class="card-body gap-2">

                <div class="row friends-row">
                    <div class="col">
                        <img class="img-fluid profile " src="assets/images/profile2.jpg" alt="logo"></a>
                    </div>

                    <div class="col-md-9">

                        <p>{{resultado.nome}}</p>
                        <div>
                            <button class="btn btn-primary">Mensagem</button>
                            <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{%endfor%}

        {%else%}
        {%if myfriends%}
        {% for amigo in myfriends%}

        <div class="card friends mt-3 mb-3">
            <div class="card-body gap-2">

                <div class="row friends-row">
                    <div class="col">
                        <img class="img-fluid profile " src="assets/images/profile2.jpg" alt="logo"></a>
                    </div>

                    <div class="col-md-9">

                        <p>{{amigo.nome}}</p>
                        <div>
                            <button class="btn btn-primary">Mensagem</button>
                            <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        {%else%}
        <p>Você ainda não tem amigos :(</p>
        {%endif%}



        {%endif%}

    </div>



</div>

{% endblock %}
