{% extends 'base2.twig' %}

{% block title %}SocialReaders | Criar Conta {% endblock %}

{% block body %}



<main id="main1" class="">

<div class="row">
    <div class="col-md-6 c1 d-flex align-items-center text-center">
        <div class="fomr-cads ">
            <form name="cadastrar" class="" action="{{ path('app_cadastro') }}" method="post">

                <div class="center text-center mb-5">

                    <img  class="img-fluid logo_transparent" src="/assets/images/logo transparent.png" alt="">
                </div>

                <h1 class="text-center text-light mb-5"> Criar Conta</h1>

                <div class="text-center mb-3 input-icons">
                <i class="fa-solid fa-user icone"></i>
                    <input class="input-field"  required placeholder="Digite Seu Nome" type="text" id="nome" name="nome" />
                </div>

                <div class="text-center mb-3 input-icons">
                 <i class="fa-solid fa-envelope icone"></i>
                    <input class="input-field"  required placeholder="Digite Seu E-mail" type="email" id="email" name="email" />
                </div>


                <div class="text-center mb-3 input-icons">
                <i class="fa-solid fa-lock icone"></i>
                    <input class="input-field"  required placeholder="Digite Sua Senha" type="password" id="password" name="password" />
                </div>



                <div class="mt-3 text-center">
                <button name="cadastrar" id="cadastrar" type="submit">Cadastrar</button>
            </div>





            </form>
                <div class="text-center mt-3">
                <a href="/login" class="link-to-cadastro text-decoration-none text-light text-center fw-semibold"> Fazer Login</a>
            </div>
        </div>
    </div>


</div>

</main>
{% endblock %}
