* {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.bg-none{
    --bs-card-bg: transparent !important;
    --bs-card-border-color: #6b5dff;
    border-top: none;
    border-left: none;
    border-right: none;
}

body {
    background-color: #c9d1e9;
}

.navbar {
    background-color: #6b5dff !important;
    display: flex !important;
    justify-content: space-between !important;
    place-content: space-between !important;
}

.navbar-expand-lg .navbar-collapse {
    place-content: space-between !important;
}

img.logo {
    width: 15vw;
    padding: 0 !important;
    margin: 0 !important;

}

img.profile {
    width: 55px;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    border: 2px solid #f8f8f8;
    border-style: double;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

img.user-profile-picture{
    width: 100px;
    border-radius: 50%;
    min-width: 120px;
    min-height: 120px;
    border: 4px solid #6b5dff;
    border-style: double;
    background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
}


img.profile-post {
    width: 45px;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;

    background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;

}

input.form-control {
    background-color: #adbae0 !important;
    border: #6b5dff;
    width: 20vw !important;
    word-wrap: break-word !important;
    word-break: break-all !important;
}

input.search-amigos{
    width: 50vw !important;
    height: 45px;

}

form.form-friends{
    justify-content: center ;
}

#navbarSupportedContent {
    justify-content: center !important;
}

ul {
    list-style: none;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -130px !important;
    margin-top: var(--bs-dropdown-spacer);
}

.sidebar {
    background-color: #6b5dff !important;
    min-height: 630px;
    max-height: max-content;
    width: 20vw;
}

img.i {
    width: 200px;
    opacity: 0.3;
    color: rgb(255, 255, 255);
    fill: aquamarine;

}

input#postagem_conteudo {
    margin-top: 50px !important;
    width: 100% !important;
    height: 100px !important;
}

div.linha {
    margin: 0 !important;
    gap: 6rem !important;
}

.flutuante-button {
    width: 120px;
    height: 80px;
    font-size: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    border: none !important;
    color: rgb(92, 92, 232);
}

li.menu-item {
    font-size: 22px;
    align-items: center;
}


ul.lista-menu {
    margin-top: 40px !important;
}

li.menu-item:hover {
    color: black !important;
    cursor: pointer;
}

.info-user-bar {
    padding-left: 1rem;
    margin-top: 1rem !important;
    align-items: center;

}

.info-user-bar span {
    font-size: 20px;
}


div.posts {
    height: 400px;
    overflow-y: scroll;
    padding-right: 10px;
}


::-webkit-scrollbar-track {
    background-color: #adbae0;
    border-radius: 8px;
}

::-webkit-scrollbar {
    width: 10px;
    background: #adbae0;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #6b5dff;
    border-radius: 8px;
}


/*MODAL*/



.modal-dialog {
    max-width: var(--bs-modal-width);
    margin-right: 2%;
    top: 250px;
    background-color: #8596c8 !important;

    border-radius: 16px !important;
}

.modal {
    --bs-modal-bg: #8596c8 !important;
    border-radius: 16px !important;
    --bs-modal-header-border-color: #6b5dff;
    --bs-modal-width: 410px;
}

div.chats {

    height: 350px;
    overflow-y: scroll;
    padding-right: 10px;

}

button.postar {
    background-color: #6b5dff !important;
    border: 1px solid #6b5dff;
}

button.postar:hover {
    background-color: transparent !important;
    border: 1px solid #6b5dff;
    color: #6b5dff !important;
}

body#corpo1 {

    background-image: url("../images/bg.png");
    background-size: cover;
    padding: 0 !important;
    margin: 0 !important;
    background-color: currentcolor;
    background-blend-mode: screen;
}

body#corpo2 {

    background-image: url("../images/bg2.png");
    background-size: cover;
    padding: 0 !important;
    margin: 0 !important;
    background-color: currentcolor;
    background-blend-mode: screen;
    background-size: 100%;
    max-width: max-content;
    max-height: 100%;

    overflow: hidden
}

main#main {
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh !important;
    z-index: 1;
    background-repeat: no-repeat;
    background-color: #6b5dffa9 !important;
    object-fit: cover;
    place-content: center;
}

main#main1 {
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh !important;
    z-index: 1;
    background-repeat: no-repeat;
    background-color: #6b5dff00 !important;
    object-fit: cover;
    place-content: center;





}

input#password,
input#username,
button#entrar,
button#cadastrar,
input#email,
input#nome {

    color: #6b5dff !important;
    border-radius: 4px;
    background-color: #f9f9f9;
    border: none;
    margin-bottom: 30px;
    padding: 10px;
    width: 20vw;
    min-width: 300px;

}

.maincolor{
    color: #6b5dff !important;
}
button#editusuerprofile{
    color: #ffffff !important;
    border-radius: 4px;
    background-color: #6b5dff;
    border: none;
    margin-bottom: 30px;
    padding: 10px;
    width: 20vw;
    min-width: 300px;

}

button#editusuerprofile:hover{
    background-color: transparent;
    color: #6b5dff !important;
    border: 1px solid #6b5dff;
}


input#password::placeholder {
    color: #9695a1;
    font-size: 18px;
}

input#username::placeholder,
input#nome::placeholder,
input#email::placeholder {
    color: #9695a1 !important;
    font-size: 18px;
}

button#entrar,
button#cadastrar {
    font-weight: bold;
    font-size: 18px;
}

.logo_transparent {
    width: 40vh;
}

.c1 {
    background-color: #6b5dffc2 !important;
    height: 100vh;
    justify-content: center;
}

.c2 {

    height: 70vh;
    justify-content: center;
}

div#edituser{
    justify-content: center;
}



/* icon dentro do input*/

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icone {
    padding: 10px;
    color: #6b5dff;
    min-width: 50px;
    text-align: center;
    justify-content: center;
    font-size: 21px !important;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none !important;
}

textarea{

    resize: none !important;
    height:120px !important;
    overflow-y: auto;

}

form.postagem h1{
    font-size: 22px;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}

.input-field:focus {
    border: #6b5dff !important;
}



/* CHATSSS*/



.modal-chats {
    z-index: 1;
    min-width: 300px;
    position: absolute;
    bottom: 15px;
    border-radius: 8px;
    right: 100px;
    background-color: #6b5dff;


}

.col-md-9{
    padding-left: 0 !important;
    width: 72%;
}

.col-md-3{
    padding-right: 0 !important;
    width: 25%;
}

p.message{
font-size: 16px;
opacity: 0.6;
color: #fff;
}



.chats-header {
    align-items: center;
    display: flex;
    padding: 10px;
    background-color: #302f40;
    justify-content: space-between;
    color: #f8f8f8;


}

.chats-header h1 {
    margin-right: 40px;
    font-size: 20px;
}

.chats-header i {

    font-size: 22px;
}

.chats-body {

    min-height: 400px;


    overflow-y: scroll;
}


.card-book{
    border-radius: 0 !important;
}

.card-chat:hover{
    background-color: #d1cdff !important;
    color: #fff !important;
    cursor: pointer;
    border-radius: 0 !important;

}

.show{
    display: block !important;
}

.hide{
    display: none !important;
}

#btn-closer, #btn-minimize, #btn-maxmize{
    cursor: pointer !important;
}

#btn-closer:hover{
    color: brown;
}

#btn-minimize:hover{
    color: rgb(108, 143, 184);
}

#btn-maxmize:hover{
    color: rgb(108, 143, 184);
}

#btn-maxmize{
    font-size: 18px;
}

.icones-modal-chats{
    align-items: center;
}


/*PERFIL */

.principal-profile{
align-items: center;
height: max-content;
}




.card-book{
width: 10vw;
padding: 5px;
justify-content: center;
text-align: center;
min-width: 50px;
background-color: #fff;
color: #6b5dff;

border-radius: 10px !important;



}

.card-book i{
    font-size: 28px;
    font-weight: bold;
}

.card-book:hover{
    background-color: #6b5dff;
border: 1px solid #6b5dff;
color: #fff;
cursor: pointer;
}

div.info{
justify-content: center;
align-items: center;
gap: 3px;

}

.btn-edit-profile{
background-color: #6b5dff   ;
border: #6b5dff;
}

.btn-edit-profile:hover{
    background-color: transparent;
border: 1px solid #6b5dff;
color: #6b5dff;
}


.navbar-toggler{
    display: none;
}


/*Friends */

div.friends{
width: 300px;
height: 100px;

}

div.friends-row{
    align-items: center;

}

div.list-amigos{

height: max-content;
overflow: scroll;
height: 450PX;
width: 100%;
}

button.btn-buscar-friend{
width: 80px;
position: relative;
right: 50px;
}

div.card-solicitacoes{
    width: max-content;
    height: max-content;
}


div.rolagem-solici{
height: max-content;

overflow-x: scroll;

}

div.list-amigos h1{
    font-size: 22px;
}

form.form-btns-solicita button{
    min-width: 25px;
    min-height: 25px;
    width: max-content;
    height: max-content;
}
form.form-btns-solicita {
    gap: 5px;
}
