{% extends "base.html.twig" %}

{% block title %}Social Readers{% endblock %}
{% block body %}


<div class="row linha">

    <div class="col-md-3 sidebar mt-3 p-2 ms-2">

        <div class="info-user-bar">
            <img class="img-fluid profile" src="assets/images/profile.png" alt="logo"></a>
            <span class="text-light fw-semibold">
             Kleitomberg

             </span>
        </div>

        <div class="menu mt-3 mb-5">

            <ul class="lista-menu">
                <li class="d-flex gap-2 menu-item text-light">
                    <i class="fa-solid fa-user "></i>Perfil
                </li>

                <li class="d-flex gap-2 menu-item text-light">
                    <i class="fa-solid fa-book"></i> Meu Livros
                </li>

                <li class="d-flex gap-2 menu-item text-light">

                    <i class="fa-solid fa-user-group"></i> Amigos
                </li>

            </ul>

        </div>

        <div class="text-center mt-5">
            <img class="img-fluid i" src="assets/images/icon.png" alt="">
        </div>
    </div>

    <div class="col-md-4 mt-3 content">

        <form method="post" action="/createPost" name="postagem">

            <div>


                <input wrap="hard" class="form-control" type="text" name="conteudo" id="postagem_conteudo" required="required"
                    maxlength="255" placeholder="Compartilhe sua Ultima Leitura, indique um livro...">
            </div>
            <button name="postar" type="submit" class="btn btn-primary postar text-end mt-2">Postar</button>
        </form>


        <div class="posts mt-5">

            {%if postagens %}
            {% for p in postagens%}
            <!-- posts-->
            <div class="post mb-4">



                <div class="autor mb-2  ">
                    <div class="info-user-post">
                        <img class="img-fluid profile-post" src="assets/images/profile.png" alt="perfil"></a>
                        <span class="text-dark fw-semibold"> {{p.usuario}}</span>

                    </div>
                </div>

                <div class="publicacao card p-3 ">
                    <div> {{p.conteudo}}</div>

                </div>
                <!-- <span>Criado em: {{ p.criadoEm | date('d-m-y') }}</span>-->

            </div>
            {%endfor%}
            {%endif%}


        </div>

    </div>

    <div class="col-md-auto">
        <a  href="" class="btn flutuante-button" id="btn-chats" > <i class="fa-solid fa-comment-dots"></i></a>

        {{ include('/includes/divchats.html.twig') }}


    </div>


</div>

{% endblock %}

{% block indexJS %}

<script src="assets/js/chats.js"></script>



{% endblock %}
