{% extends "base.html.twig" %}

{% block title %}Social Readers{% endblock %}
{% block body %}


<div class="row linha">

    <div class="col-md-3 sidebar mt-3 p-2 ms-2">

        <div class="info-user-bar">
            <img class="img-fluid profile" src="assets/images/profile.png" alt="logo"></a>
            <span class="text-light fw-semibold"> Kleitomberg</span>
        </div>

        <div class="menu mt-3 mb-5">

            <ul class="lista-menu">
                <li class="d-flex gap-2 menu-item text-light">
                    <i class="fa-solid fa-user "></i>Perfil
                </li>

                <li class="d-flex gap-2 menu-item text-light">
                    <i class="fa-solid fa-book"></i> Meu Livros
                </li>

                <li class="d-flex gap-2 menu-item text-light">

                    <i class="fa-solid fa-user-group"></i> Amigos
                </li>

            </ul>

        </div>

        <div class="text-center mt-5">
            <img class="img-fluid i" src="assets/images/icon.png" alt="">
        </div>
    </div>

    <div class="col-md-4 mt-3 content">

        <form action="">

            <input class="form-control" type="text" name="" id="indicacao" placeholder="Indique um livro">

            <button class="btn btn-primary postar text-end mt-2">Postar</button>
        </form>


        <div class="posts mt-5">

            <!-- posts-->
            <div class="post mb-4">



                <div class="autor mb-2  ">
                    <div class="info-user-post">
                        <img class="img-fluid profile-post" src="assets/images/profile.png" alt="logo"></a>
                        <span class="text-dark fw-semibold"> Kleitomberg</span>

                    </div>
                </div>

                <div class="publicacao card p-3 ">
                    <div> Hoje li o livro jardim das palvras, gostei super, ele trata sobre bla bla bla, uma leitura que
                        super recomendo </div>
                </div>

            </div>

            <!-- posts-->
            <div class="post mb-4">



                <div class="autor mb-2  ">
                    <div class="info-user-post">
                        <img class="img-fluid profile-post" src="assets/images/profile.png" alt="logo"></a>
                        <span class="text-dark fw-semibold"> Kleitomberg</span>

                    </div>
                </div>

                <div class="publicacao card p-3 ">
                    <div> Hoje li o livro jardim das palvras, gostei super, ele trata sobre bla bla bla, uma leitura que
                        super recomendo </div>
                </div>

            </div>

            <!-- posts-->
            <div class="post">



                <div class="autor mb-2  ">
                    <div class="info-user-post">
                        <img class="img-fluid profile-post" src="assets/images/profile.png" alt="logo"></a>
                        <span class="text-dark fw-semibold"> Kleitomberg</span>

                    </div>
                </div>

                <div class="publicacao card p-3 ">
                    <div> Hoje li o livro jardim das palvras, gostei super, ele trata sobre bla bla bla, uma leitura que
                        super recomendo </div>
                </div>

            </div>


        </div>

    </div>

    <div class="col-md-auto">
        <a href="" class="btn flutuante-button" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i
                class="fa-solid fa-comment-dots"></i></a>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Chats </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body ">

                        <div class="chats">

                            <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="info-user-post">
                                            <img class="img-fluid profile-post" src="assets/images/profile.png" alt="logo"></a>
                                            <span class="text-dark fw-semibold"> Kleitomberg</span>

                                        </div>

                                    </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="info-user-post">
                                        <img class="img-fluid profile-post" src="assets/images/profile.png" alt="logo"></a>
                                        <span class="text-dark fw-semibold"> Kleitomberg</span>

                                    </div>

                                </div>
                        </div>

                        <!--card-->
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="info-user-post">
                                    <img class="img-fluid profile-post" src="assets/images/profile.png" alt="logo"></a>
                                    <span class="text-dark fw-semibold"> Kleitomberg</span>

                                </div>

                            </div>
                    </div>

                    <!--card-->
                    <div class="card">
                        <div class="card-body">
                            <div class="info-user-post">
                                <img class="img-fluid profile-post" src="assets/images/profile.png" alt="logo"></a>
                                <span class="text-dark fw-semibold"> Kleitomberg</span>

                            </div>

                        </div>
                </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>


    </div>


</div>

{% endblock %}

{% block indexJS %}
<script>
    $('#exampleModal').on('shown.bs.modal', function (e) {
  $("#corpo").css({ opacity: 1 });
})
</script>

{% endblock %}
